<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
 
<%@ page import="java.util.ArrayList"%>
<%@ page import="model.JavaBeans"%> -->
 
<!DOCTYPE html>
<html lang="pt-br">
 
<head>
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sorteio - Tec. em Informática</title>
 
<!-- LINK CSS/BOOTSTRAP -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/sorteio.css">
 
<!-- FONTE -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap%22
	rel="stylesheet">
 
</head>
 
<body
	class="d-flex flex-column align-items-center justify-content-between text-white text-center">
 
	<header class="mt-5">
 
		<h1 class="display-1 fw-bold">SORTEIO</h1>
 
	</header>
 
 
	<main class="d-flex flex-column align-items-center gap-4">
 
		<%JavaBeans sorteado = (JavaBeans) request.getAttribute("sorteado");%>
 
		<div
			class="quadrado-sorteio bg-white d-flex align-items-center justify-content-center"
			id="display-container">
 
			<% if(sorteado != null) { %>
 
			<div>
				<h1 class="numero-final"><%= sorteado.getId() %></h1>
				<h1 class="" ><%= sorteado.getNome() %></h1>
			</div>
 
			<% } else { %>
 
			<div class="traco" id="conteudo"></div>
 
			<% } %>
		</div>
 
		<div class="d-flex gap-3">
 
			<a class="btn btn-laranja btn-lg fw-bold px-5 py-4"
				href="sortear" onclick="">Sortear</a> <a
				class="btn btn-laranja btn-lg fw-bold px-5 py-2" href="main">Números<br>Sorteados
			</a>
 
		</div>
 
	</main>
 
	<footer class="mb-4 mt-5">
 
		<h6 class="opacity-75">Â©2026 - Todos os direitos reservados</h6>
 
	</footer>
 
	<!-- JS/BOOTSTRAP -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>
	<script src="script/sortear.js"></script>
 
</body>
 
</html>